
.content__cards {

	display: flex;
	flex-flow: row wrap;
	
	.card {
		flex: 0 0 30%;
		max-width: 30%;

		&:nth-child(3n-1) {
			margin: 0 5%;
		}

		&:not(:nth-child(-n+3)) {
			margin-top: 4rem;
		}

	}

}