extends ../blocks/layout

block data

	- const page = { path: 'index', title: 'Demo', description: 'Demo page', styles: [], scripts: [] };

block content


	= nnn
	// Header 

	+header


	= nnn
	// Content 

	+content
		+e( 'layout', {p: 'page'} )

			+e( 'cards' )
				each item in global.blocks.card
					+b( 'card' )
						+e( 'image' )
							+b( 'img' )(src=`${global.paths.static}/card/${item.image}` alt=item.title)
						+b( 'title', {e: '&', m: 'size-s', t: 'h6'} )= item.title
						+b( 'paragraph', {t: 'p'} )= item.description


	= nnn
	// Footer 

	+footer

