
/**
 * Page
 */

.page {

	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
	font-size: 14px;
	color: #222;
	line-height: 1;
	font-weight: 400;

	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;

	background-color: #fff;

}
