
html {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	font-family: sans-serif;
	box-sizing: border-box;
}

html *,
html *:after,
html *:before {
	box-sizing: inherit;
}

body {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	border: 0;
}

.app {
	position: relative; 
	display: block; 
	width: 100%;
	min-height: 100%;
	background-color: #f5f5f5;
	font-size: 16px;
}