
/**
 * Html
 */

.html {

	width: 100%;
	height: 100%;
	
	font-size: 62.5%;
	font-family: sans-serif;

	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	box-sizing: border-box;

	* {
		&,
		&:before,
		&:after {
			box-sizing: inherit;
		}
	}

}
